*{
	margin: 0;
	padding: 0;
}

html, body{
    overflow-x: hidden;
}
.navbar-default{
	background-color: #232b2b !important;
	border-color: #232b2b !important;
	border-radius: 0 !important;
}

.navbar{
	margin-bottom: 0px !important;
}
.navbar-default .navbar-nav>li>a{
	color: #fff !important;	
}

.navbar-header a{
	color: #fff !important;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232b2b;
    overflow-x: hidden;
    padding-top: 10vh;
}

.sidenav a {
	text-transform: uppercase;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
	text-decoration: none;
    color: #d2d2d2;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    /* Increased text to enable scrolling */
    padding: 50px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.dashboard{
    margin-top: 50px;
    padding: 30px;
    width: 200px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color:#3498db;
}
.dashborad-name{
    padding: 70px;
    font-size: 20px;
}
.dashboard-ebook{
    background-color: #e67e22;
}
.dashboard-donatebook{
    background-color:#e74c3c;
}
.dashboard-sellingbook{
    background-color: #2ecc71;
}
.dashboard-services{
    background-color: #9b59b6;
}
.dashboard-user{
    background-color: #f1c40f;
}
